.review-item{
    width: 570px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 20px;
}

.review-details{
    flex-grow: 1;
}

.review-details p{
    margin: 0 15px;
}

.review-item .product-title{
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.038px; 
    line-height: 25px;
}

.review-item img{
    width: 90px;
    height: 90px;
    padding: 8px;
    border-radius: 12px;
}

.orange-text{
    color: #F90; 
}

.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon{
    color: #EB5757;
    width: 30px;
    height: 30px;
}