.header{
    background-color: #1C2B35;
    height: 80px;
    padding: 16px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 32px;
}

nav a:hover{
    color: orange;
}